<div class="container">
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo1.jpeg", class: "img-rounded"), asset_path("vishnoo1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Boy" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo9.jpeg", class: "img-rounded"), asset_path("vishnoo9.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Young Man" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo3.jpeg", class: "img-rounded"), asset_path("vishnoo3.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo4.jpeg", class: "img-rounded"), asset_path("vishnoo4.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo25.jpeg", class: "img-rounded"), asset_path("vishnoo5.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo6.jpeg", class: "img-rounded"), asset_path("vishnoo6.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo7.jpeg", class: "img-rounded"), asset_path("vishnoo7.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo8.jpeg", class: "img-rounded"), asset_path("vishnoo8.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
     </div>
   </div>
   <br>
   <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo2.jpeg", class: "img-rounded"), asset_path("vishnoo2.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo10.jpeg", class: "img-rounded"), asset_path("vishnoo10.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo11.jpeg", class: "img-rounded"), asset_path("vishnoo11.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo12.jpeg", class: "img-rounded"), asset_path("vishnoo12.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo13.jpeg", class: "img-rounded"), asset_path("vishnoo13.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo14.jpeg", class: "img-rounded"), asset_path("vishnoo14.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
     </div>
     <div class="span3">
      <%= link_to image_tag("vishnoo15.jpeg", class: "img-rounded"), asset_path("vishnoo15.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo16.jpeg", class: "img-rounded"), asset_path("vishnoo16.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
       </div>
     </div>
     <br>
     <div class="row">
       <div class="span3">
        <%= link_to image_tag("vishnoo17.jpeg", class: "img-rounded"), asset_path("vishnoo17.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
       </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo18.jpeg", class: "img-rounded"), asset_path("vishnoo18.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo19.jpeg", class: "img-rounded"), asset_path("vishnoo19.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo20.jpeg", class: "img-rounded"), asset_path("vishnoo20.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span3">
        <%= link_to image_tag("vishnoo21.jpeg", class: "img-rounded"), asset_path("vishnoo21.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo22.jpeg", class: "img-rounded"), asset_path("vishnoo22.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo23.jpeg", class: "img-rounded"), asset_path("vishnoo23.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo24.jpeg", class: "img-rounded"), asset_path("vishnoo24.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
      </div>
    </div>
    <br>
    <br>
    <br>
