<div class="container">
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo1.jpeg", class: "img-rounded"), asset_path("vishnoo1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control 24" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo9.jpeg", class: "img-rounded"), asset_path("vishnoo9.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "AD Convertor" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo3.jpeg", class: "img-rounded"), asset_path("vishnoo3.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "XLR Patch" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo4.jpeg", class: "img-rounded"), asset_path("vishnoo4.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "V4 Speakers" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo25.jpeg", class: "img-rounded"), asset_path("vishnoo5.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dynaudio Acoustic" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo6.jpeg", class: "img-rounded"), asset_path("vishnoo6.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha NS 10 Speakers" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo7.jpeg", class: "img-rounded"), asset_path("vishnoo7.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo8.jpeg", class: "img-rounded"), asset_path("vishnoo8.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
     </div>
   </div>
   <br>
   <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo2.jpeg", class: "img-rounded"), asset_path("vishnoo2.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo10.jpeg", class: "img-rounded"), asset_path("vishnoo10.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Line 6" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo11.jpeg", class: "img-rounded"), asset_path("vishnoo11.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Deluxe" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo12.jpeg", class: "img-rounded"), asset_path("vishnoo12.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Mellennia HVD3" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("vishnoo13.jpeg", class: "img-rounded"), asset_path("vishnoo13.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Korg Triton Rack x1" %>
    </div>
    <div class="span3">
      <%= link_to image_tag("vishnoo14.jpeg", class: "img-rounded"), asset_path("vishnoo14.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Electrix Mo FX X1" %>
     </div>
     <div class="span3">
      <%= link_to image_tag("vishnoo15.jpeg", class: "img-rounded"), asset_path("vishnoo15.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Wagner U47" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo16.jpeg", class: "img-rounded"), asset_path("vishnoo16.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Neumann TLM 103" %>
       </div>
     </div>
     <br>
     <div class="row">
       <div class="span3">
        <%= link_to image_tag("vishnoo17.jpeg", class: "img-rounded"), asset_path("vishnoo17.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Electro Voice RE 20" %>
       </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo18.jpeg", class: "img-rounded"), asset_path("vishnoo18.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Shure SM57 X3" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo19.jpeg", class: "img-rounded"), asset_path("vishnoo19.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Apex 210 Ribbon" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo20.jpeg", class: "img-rounded"), asset_path("vishnoo20.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "AKG D112" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span3">
        <%= link_to image_tag("vishnoo21.jpeg", class: "img-rounded"), asset_path("vishnoo21.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Rode NT5 X3" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo22.jpeg", class: "img-rounded"), asset_path("vishnoo22.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "B1 X2" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo23.jpeg", class: "img-rounded"), asset_path("vishnoo23.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Mini Moog" %>
      </div>
      <div class="span3">
        <%= link_to image_tag("vishnoo24.jpeg", class: "img-rounded"), asset_path("vishnoo24.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Motu Symphonic" %>
      </div>
    </div>
    <br>
    <br>
    <br>
