<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p><%= markdown @post.body %></p>
    <small>
      <%= image_tag(@post.image.thumb.url, class: "img-rounded") %>
    </small>
  </div>
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-large btn-block' %>
    <% end %>
    <%= link_to "Back to Tributes", posts_path, class: 'btn btn-large btn-block' %>
  </div>
</div>
