<!DOCTYPE html>
<html>
<head>
  <title>Vishnoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="nav nav-tabs">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Gallery", welcome_gallery_path %></li>
          <li><%= link_to "Tributes", welcome_tributes_path %></li>
        </ul>

    <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
